@tailwind base;
@tailwind components;
@tailwind utilities;




/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/


@layer base {
  .all-unset { all: unset; }
  .no-content { content: ""; }
  .loading-icon { @apply no-content border-white border-4 border-solid rounded-24 border-r-transparent animate-loading; }
  .overflow-x-overlay { overflow-x: overlay; }
  .overflow-y-overlay { overflow-y: overlay; }
  .poster-background { background-image: url("/poster-bg-icon.png"); }
  .video-card-background { background-image: url("/video-bg-icon.png"); }
  .aspect-2-3 { aspect-ratio: 2 / 3; }
  .aspect-16-9 { aspect-ratio: 16 / 9; }
  .no-background-no-border { background: none; border: none;}
  .font-inherit {font: inherit};
  .color-inherit {color: inherit};
}


:root {

  /* Colors */
  --background: hsla(220, 17%, 7%, 1);
  --banner-background: hsla(250, 6%, 20%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --on-background: hsla(220, 100%, 95%, 1);
  --on-surface: hsla(250, 100%, 95%, 1);
  --on-surface-variant: hsla(250, 1%, 44%, 1);
  --primary: hsla(349, 100%, 43%, 1);
  --primary-variant: hsla(349, 69%, 51%, 1);
  --rating-color: hsla(44, 100%, 49%, 1);
  --surface: hsla(250, 13%, 11%, 1);
  --text-color: hsla(250, 2%, 59%, 1);
  --white: hsla(0, 0%, 100%, 1);

  /* Gradients */
  --banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0.5) 100%;
  --bottom-overlay: 180deg, hsla(250, 13%, 11%, 0), hsla(250, 13%, 11%, 1);

  /* Typography */
  --ff-dm-sans: 'DM Sans', sans-serif;
  --fs-heading: 40px;
  --fs-title-lg: 26px;
  --fs-title: 20px;
  --fs-body: 18px;
  --fs-button: 15px;
  --fs-label: 14px; 
  --weight-bold: 700;
  
  /* Box Shadow */
  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.75);
  --shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);
  
  /* Border Radius */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;

  /* Transition */
  --transition-short: 250ms ease;
  --transition-long: 500ms ease;

  /* header height */
  --header-height: 80px;
}

@media screen and (min-width: 768px) {
  :root {
    --banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0) 100%;
    --fs-heading: 54px;
    --header-height: 104px;
  }
}







/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
  *, 
  ::before,
  ::after { @apply m-0 p-0 box-border; }
  li { @apply list-none; }
  input { @apply w-full; }
  button { @apply text-left cursor-pointer; }
  span, iframe, button { @apply block } 
  input, button { @apply no-background-no-border font-inherit; }
  input, button { @apply color-inherit }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: var(--ff-dm-sans);
  }

  body {
    background-color: var(--background);
    color: var(--on-background);
    font-family: var(--ff-dm-sans);
    font-size: var(--fs-body);
    line-height: 1.5;
  }

  :focus-visible { outline-color: var(--primary-variant); }

  ::-webkit-scrollbar {
    width: 8px;   /* sets vertical scrollbar width */
    height: 8px;  /* sets horizontal scrollbar width */
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--banner-background);
    border-radius: var(--radius-8);
  }













/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/


/* a dark bottom overlay */
.container-layout::after,
.search-modal::after { @apply no-content fixed left-0 bottom-0 z-[1] w-full h-[150px] pointer-events-none bg-gradient-to-b from-surface-transparent to-surface;
}


/* a loading icon */
/*
 * this applies to the search functionality & the load more functionality
 */
.search-wrapper::before,
.load-more::before{ @apply loading-icon hidden w-5 h-5; }
.search-wrapper::before { @apply absolute top-[14px] right-3; }
.search-wrapper.searching::before, .load-more.loading::before { @apply block; }


/* titles & headings */
.title,
.title-large,
.heading { @apply font-bold tracking-[0.5px]; }
.title{ @apply text-title } 
.title-large { @apply text-title-lg}
.heading { @apply text-heading leading-[1.2] text-white;}
.title-wrapper { @apply mb-6; }


/* images & videos */
.img-cover{ @apply object-cover w-full h-full; }


/* movie meta list & meta item */
.meta-list { @apply flex justify-start items-center flex-wrap gap-3; }
.meta-item{ @apply flex items-center gap-1; }


/* buttons-like */
.btn { @apply flex items-center gap-3 max-w-max rounded-8 py-3 pl-5 pr-6 text-button font-bold text-white transition duration-short; }
.card-badge { @apply bg-banner-background rounded-4 px-[6px] text-label text-white; }



/* fallbacks images & videos */
/*
 * if the image for an img element OR video for a video element fails to fetch
 * what is the background image that should show instead?
 */
.poster-box { @apply poster-background aspect-2-3; }
.poster-box,
.video-card { @apply bg-center bg-50px bg-no-repeat bg-banner-background rounded-16 overflow-hidden; }
.video-card { @apply flex-shrink-0 w-full-minus-40px max-w-[500px] video-card-background aspect-16-9; }


/* movie list slides */
/*
 * the slides-container specifies the scroll interaction * use padding to add a space before the scroll
 * the slides-inner container specifies the flex display of the UI
 */
.slides-container{ @apply -mx-5 pb-4 -mb-4 overflow-x-overlay; }
.slides-container::-webkit-scrollbar-thumb { @apply bg-transparent;}
.slides-container:is(:hover, :focus-visible)::-webkit-scrollbar-thumb { @apply bg-banner-background;}
.slides-inner-container{ @apply relative flex gap-4; }
.slides-inner-container::before,
.slides-inner-container::after { @apply no-content min-w-[12px];}


/* others */
.span { @apply text-label }
.separator { @apply w-1 h-1 rounded-4 bg-white-alpha-20; }
main { @apply desktop:grid desktop:grid-cols-desktop-main; }





















/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

/* the header element */
.header { @apply relative flex items-center gap-2 px-6 py-4 md:px-14 md:py-7; }


/* the search button */
.search-btn { @apply p-3 bg-banner-background opacity-50 rounded-8 hover:opacity-100 focus-visible:opacity-100 md:hidden transition-all duration-short;}

/* the search-box UI */
.search-box { @apply absolute top-0 left-0 z-[1] flex items-center gap-3 w-full h-full bg-background pl-6 pr-4 md:all-unset md:block md:w-[340px]; }

/* the search wrapper */
.search-wrapper { @apply relative flex-grow; }

/* the search field in the search wrapper */
.search-field { @apply h-12 outline-none rounded-8 bg-banner-background pl-11 pr-4 leading-[48px] focus:ring-2 focus:ring-on-surface focus:pl-2 hover:ring-2 hover:ring-on-surface-variant placeholder-on-surface-variant transition-all duration-short; }
.search-wrapper .leading-icon { @apply absolute top-1/2 transform -translate-y-1/2 left-3 opacity-50 transition-all duration-short; }
.search-wrapper:focus-within .leading-icon { @apply opacity-0; }

/* the menu button will be hidden at desktop */
.menu-btn {@apply desktop:hidden;}





















/*-----------------------------------*\
  #FETCHING ICON
\*-----------------------------------*/
.fetching { @apply absolute w-full h-full bg-background-half-transparent z-[4]; }
.fetching::before { @apply loading-icon absolute top-1/2 left-1/2 w-12 h-12 border-[5px] transform translate-y-1/2 translate-x-1/2; }

















/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

/*** position, width, visiblity & scroll interaction of the sidebar UI ***/
.sidebar { @apply hidden absolute top-header-height -left-[340px] z-[4] w-full max-w-[340px] h-main-height overflow-y-overlay border-t-2 border-banner-background bg-background desktop:static desktop:block desktop:border-t-0 transition-all duration-long; }
.sidebar.active { @apply block transform translate-x-[340px] desktop:transform-none }
.sidebar::-webkit-scrollbar-thumb { @apply bg-background; }
.sidebar:is(:hover, :focus-visible)::-webkit-scrollbar-thumb { @apply bg-banner-background }
.sidebar::-webkit-scrollbar-button { @apply h-4}

/* layout, block padding of the side-bar UI */
.sidebar-inner { @apply grid gap-5 pt-8 pb-8; }

/* the sidebar-list & each link */
.sidebar-list, .sidebar-footer { @apply px-9; }

.sidebar-link { @apply block text-on-surface-variant hover:text-on-background focus:text-on-background transition-all duration-short; }

/* the sidebar-footer */
.sidebar-footer { @apply mt-4 border-t-2 border-banner-background pt-[25px];
}

/* the sidebar overlay */
.overlay { @apply fixed top-header-height left-0 bottom-0 z-[3] opacity-50 w-full bg-background transition-all duration-short; }















/*-----------------------------------*\
  #SEARCH MODAL
\*-----------------------------------*/
/* 
 * postion the search modal absolutely, on top of every thing else and just below the page header
 * add scroll visiblity, background color & padding 
 *  
 *
 */
.search-modal { @apply fixed top-header-height left-0 bottom-0 z-[4] w-full bg-surface py-12 px-6 overflow-y-overlay; }
.search-modal .label { @apply mb-2 text-primary-variant font-bold; }
.movie-list { @apply pt-8; }
.grid-list { @apply grid grid-cols-autofill-200 gap-x-4 gap-y-5; }















/*-----------------------------------*\
  #MOVIE CARD
\*-----------------------------------*/

:is(.genre-list, .search-modal) :is(.movie-card, .card-banner) { @apply w-full; }
.movie-card { @apply relative min-w-[200px]; }
.movie-card .card-banner { @apply w-full; }
.movie-card .title { @apply whitespace-nowrap text-ellipsis overflow-hidden mt-2 mb-1;}
.movie-card .meta-list { @apply justify-between; }
.movie-card .card-btn { @apply absolute inset-0; }















/*-----------------------------------*\
  #HOME PAGE
\*-----------------------------------*/
 
/*
 * styling the container of the page-content
 * position, bg-color & pad the container of the page content.
 * add a dark bottom overlay to the container
 */
.container-layout { @apply relative z-[1] h-main-height overflow-y-overlay bg-surface text-on-surface pt-6 px-5 pb-12 md:px-6 desktop:rounded-ss-36; }

/*
 * styling the container of the popular movie banner
 * position, size(height), border-radius the container of the popular movies banner 
 */
.banner { @apply relative h-[700px] overflow-hidden rounded-24 md:h-[500px]; }

/*
 * styling each movie slide container
 * position each movie slide to be 20% out of viewport left handside with no opacity & visiblility.
 * only the active movie slide would be seen at the viewport.
 * each slide is 100% high & wide of its container (banner), 
 * image in slide is also 100% high & wide via the "img-cover" reusable class,
 * each slide have a dark overlay; this gives the image a dark contrast; 
 * apart from the aesthetics of this technique,
 * this ensure that no matter the image of the slides, text placed on it will be visible.
 * 
 */
.slides .slide-item { @apply hidden absolute top-0 left-[120%] opacity-0 w-full h-full bg-banner-background transition-opacity duration-long; }
.slides .slide-item.active { @apply left-0 opacity-100 block ; }
.slides .slide-item::before { @apply no-content absolute inset-0 bg-gradient-to-r from-background to-background-half-transparent; }

/*
 * styling each movie slide textual content;
 * position the container of the textual content & set the text-color,
 * webkit clamp the heading & description text to just 3 lines & 2 lines respectively,
 * flex display the textual content meta-list,
 * specify a background color for the watch now button.
 */
.banner-content { @apply absolute bottom-[206px] left-6 right-6 z-[1] text-text-color tablet:right-auto tablet:max-w-[500px] md:bottom-1/2 md:transform md:translate-y-1/2 md:left-[50px] desktop:left-[100px]; }
.banner .heading { @apply line-clamp-3 mb-4; }
.banner .genre { @apply my-3; }
.banner-text { @apply line-clamp-2 mb-6; }
.banner .btn { @apply bg-primary relative z-0 hover:shadow-2 focus:shadow-2; }

/*
 * style the slides controller container
 * this container basically positions the slides controller UI
 * position it to the bottom of its container
 * add border-radius & padding
 * for overflow in the x-direction, add scrollbar only when necessary
 * prevent the container from being highlighted or selected by user
 */
 .slides-controller{ @apply absolute bottom-5 left-5 right-0 z-[1] overflow-x-auto rounded-l-16 py-1 pl-1 select-none tablet:left-400px-to-left; }
.slides-controller::-webkit-scrollbar { @apply hidden}

/* 
 * style the slides controller inner container
 * this basically adds flex layout to the slides controller UI
 * initially each slide controller will shrink to fit availiable space
 *
 * add an after pseudoelement to simulate an additional flex item at the end,
 * giving it a min-width of 12px. this adds a bit of spacing after all flex item.
 */
.slides-controller-inner { @apply flex gap-3; }
.slides-controller-inner::after { @apply no-content min-w-[12px]; }

/* 
 * style the each slide controller
 * set them to 100px width 
 * remove the automatic shriking imposed on eaach slide controller by the flexbox container
 * add a border radius to them
 * all slide controller except the active slide controller will have a lower brightness

 * note that and hidden overflow setting is needed for the border-radius setting to be visible.
 * because via the "img-cover" class the img element in the button element is 100% wide & high.
 * thus it is on-top of the button element OR 
 * you can make the img element have the border-radius setting instead.
 *
 */
.slides-controller .slide-item { @apply flex-shrink-0 w-[100px] overflow-hidden rounded-8 filter brightness-50; }
.slides-controller .slide-item.active { @apply filter brightness-100 shadow-1; }













/*-----------------------------------*\
  #DETAIL PAGE
\*-----------------------------------*/

/**
  * MOVIE DETAIL UI
  */
/* 
 * THE BACKDROP IMAGE
 * underneath the movie detail ui is the backdrop image of the movie
 * add a dark overlay over the image
 *
 */
.backdrop-image { @apply absolute top-0 left-0 -z-[1] w-full h-[600px] bg-center bg-cover bg-no-repeat desktop:rounded-ss-36; }
.backdrop-image::before { @apply absolute inset-0 bg-gradient-to-t from-surface to-surface-transparent-90-percent; content: ""; }

/* 
 * THE POSTER IMAGE
 * set width to 100%
 * set max-width to 300px
 *
 */
.movie-detail { @apply md:flex md:items-start md:gap-10}
.movie-detail .movie-poster { @apply w-full max-w-[300px] md:sticky md:top-0 md:shrink-0; }
.movie-detail .detail-box { @apply md:grow; }
.movie-detail .detail-content { @apply tablet:max-w-[750px]; }

/* 
 * THE UI TEXT CONTENT
 * add top & bottom margin to the heading box, genres box, detail list box
 * change color of meta-list & genres box
 * add flex display to the detail list item
 * change color of detail list name & set its minimum width to 112px
 */
 .movie-detail .heading { @apply mt-6 mb-3; }
 .movie-detail :is(.meta-list, .genre) { @apply text-text-color; }
 .movie-detail .genre { @apply mt-3 mb-4; }
 .movie-detail .detail-list { @apply mt-6 mb-8; }
 .movie-detail .list-item { @apply flex gap-2 mb-3; }
 .movie-detail .list-name { @apply text-text-color min-w-[112px] }
 .movie-detail .slides-container { @apply md:ml-0 md:rounded-l-16 }
 .movie-detail .slides-inner-container::before{ @apply md:hidden }
 















 /*-----------------------------------*\
   #MOVIE LIST PAGE
 \*-----------------------------------*/
 
 /**
   * MOVIE LIST UI
   */
 /* 
  * THE TITLE
  * add a bottom margin to the title
  * add grid display to the movie list, with a row & column gap, and auto filling the columns,
  *
  */
 .genre-list .title-wrapper { @apply mb-14; }
 
 /* .grid-list {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   column-gap: 16px;
   row-gap: 20px;
 } */
 :is(.genre-list, .search-modal) :is(.movie-card, .card-banner) {@apply w-full}
 
 /* 
  * THE LOAD MORE BUTTON
  * add a left & right margin to center the button
  * add a top & button margin
  * add a background color
  * add a background color on hover or focus
  *
  */
  .load-more { @apply mx-auto mt-9 mb-[60px] bg-primary-variant hover:bg-primary-variant-2 focus-visible:bg-primary-variant-2; }

 






















/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

    /**
    * RESPONSIVENESS FOR LARGER THAN 575PX
    * 1. setting maximum width for text content (banner-content & detail-content)
    * 2. shift movie banner slides controller left side
    */



    /**
    * RESPONSIVENESS FOR LARGER THAN 768PX
    *
    * VARIABLES
    * 1. restyle the banner overlay
    * 2. reset heading text font-size
    *
    * HOMEPAGE
    * 1. hide all search-btn
    * 2. reset search box styling & set width
    * 3. reset inline padding for the container 
    * 4. reset inline padding of sidebar list
    * 5. reset movie banner height
    * 6. center movie banner content
    *
    * DETAIL PAGE
    * 1. set movie detail to be a flex box
    * 2. stick the movie detail poster
    * 2. set a border radius on the movie detail slider container
    */




    /**
    * RESPONSIVENESS FOR LARGER THAN 1200PX
    *
    * 1. set more padding for the header
    * 2. resize logo image
    * 3. hide menu-btn & sidebar overlay
    * 4. set main element to have a grid display
    * 5. set sidebar to be visible
    */

